/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 **/

:root {
    /* Baggrundsfarver */
    --b-f-1: #edf4ec;
    --b-f-2: #f2fff4;
    /* Farve palette */
    --f-1: #d2f2c9;
    --f-2: #c1d9ba;
    --f-3: #315937;
    --f-4: #21402e;
    --f-5: #102226;
    /* gradient farve */
    --f-6: rgba(16, 34, 38, 0.7);
    --f-7: rgba(49, 89, 55, 0.55);
    /* Kontrast farve */
    --f-8: #d2b0b0;

}

html {
    font-family: 'Poppins', sans-serif;
    background-color: var(--f-2);
    background-image: linear-gradient(to left, var(--f-7), var(--f-2));
    background-repeat: no-repeat;
    overflow-x: hidden;



}

body {
    margin: auto;
    overflow-x: hidden;
}





/* loading page */

.load-text-container {
    display: block;
    margin: 150px 0 0 50px;

}

.grow-logo {
    width: 575px;
    margin-bottom: -30px;
}

.load-page-h1 {
    line-height: 1;
    letter-spacing: -2px;
    font-size: 40pt;
    font-weight: 500;
    color: var(--f-6);
}

.load-page-h1 strong {
    font-weight: 700;

}

.load-p {
    color: var(--f-6);
    font-weight: 600;
    letter-spacing: -0.6px;
    font-size: 12pt;
    margin-top: -50px;
    margin-bottom: 80px;
}

.first-step-figure {
    border: 1px solid var(--f-8);
    border-radius: 100px;
    background-color: var(--f-8);
    height: 200px;
    width: 200px;
    position: absolute;
    right: 4%;
    top: 450px;
}

.first-step-figure p {
    padding: 59px 15px;
    font-weight: 600;
    color: var(--f-4);
    text-align: center;
}

.first-step-figure p strong {
    font-size: 18pt;
}

.first-step-img {
    height: 150px;
    opacity: 10%;
    position: absolute;
    padding: 25px;
}

/* ---------------------------------- intro */

.baggrund-info {
    margin-top: -375px;
    position: absolute;
    left: 0px;
    z-index: -30;
    width: 100%;

}


.fig-section2-1 {
    border: 2px solid var(--f-8);
    border-radius: 100%;
    background-color: var(--f-8);
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 300px;

}

.lille-logo {
    height: 30px;
    display: block;
    margin: auto;
    padding-top: 60px;
}

.info {
    padding: 0 65px;
    font-size: 22.5pt;
    color: var(--f-5);
    margin-bottom: 0px;
}

.fig-section2-1 p {
    padding: 0px 65px;
    color: var(--f-5);
    font-size: 11pt;
    margin-top: 0px;
}

/* ------------------------------- opdeler */


.boegle {
    position: relative;
    width: 100%;
    display: block;
    z-index: -20;


}

.boegle-1 {
    margin-top: -450px;
    margin-bottom: -500px;
    /* <------------------------------------- Styre højden på section 2 */
}

.boegle-2 {
    margin-top: 600px;
}

/* ---------------Knapper til scroll animation */

a {
    text-decoration: none;
    color: var(--f-5);
    font-size: 10pt;
    font-weight: 600;
}

button {

    z-index: 20;
    display: block;
    margin: auto;
}

.vider-knap-1 {
    position: relative;
    bottom: -116px;
    background-color: rgba(0, 255, 255, 0);
    border: 0px;
    padding-right: 55px;
    margin-bottom: 20px;
}

.vider-knap-1 img {
    height: 30px;
}

.tilbage-knap-1 {
    position: relative;
    background-color: rgba(0, 255, 255, 0);
    border: 0px;
    padding-top: 20px;

}

.tilbage-knap-1 img {
    height: 30px;
}

@media only screen and (max-width: 1300px) {

    .boegle {
        width: 1900px;
    }

    .boegle-1 {
        margin-top: -500px;
    }

    .load-text-container {
        margin: 100px;
    }

}

@media only screen and (max-width: 800px) {

    .load-text-container {
        margin: 40px 20px;
    }

    .grow-logo {
        width: 100%;
        margin: auto;
    }

    .load-page-h1 {
        font-size: 8.5vw;

    }

    .load-p {
        font-size: 3vw;
        margin-top: -25px;
    }

    .boegle-1 {
        margin-top: -400px;
    }
}
