/**
 * file: style.css
 * purpose: styles, animation etc
 * further development: meyer reset perhaps?
 **/

:root {
    /* Baggrundsfarver */
    --b-f-1: #edf4ec;
    --b-f-2: #f2fff4;
    /* Farve palette */
    --f-1: #d2f2c9;
    --f-2: #c1d9ba;
    --f-3: #315937;
    --f-4: #21402e;
    --f-5: #102226;
    /* gradient farve */
    --f-6: rgba(16, 34, 38, 0.7);
    --f-7: rgba(49, 89, 55, 0.55);
    /* Kontrast farve */
    --f-8: #d2b0b0;

}

html {
    font-family: 'Poppins', sans-serif;
    background-color: var(--f-2);
    background-image: linear-gradient(to left, var(--f-7), var(--f-2));
    background-repeat: no-repeat;
    overflow-x: hidden;



}

body {
    margin: auto;
    overflow: hidden;
}





/* loading page */

.grow-logo {
    width: 575px;
    margin-bottom: -30px;
    position: relative;
    padding: 150px 0 0 50px;
}

.load-page-h1 {
    line-height: 1;
    letter-spacing: -2px;
    font-size: 40pt;
    font-weight: 500;
    color: var(--f-6);
    position: relative;
    padding: 0px 0 0 50px;
}

.load-page-h1 strong {
    font-weight: 700;

}

.load-p {
    color: var(--f-6);
    font-weight: 600;
    letter-spacing: -0.6px;
    font-size: 12pt;
    margin-top: -40px;
    margin-bottom: 80px;
    position: relative;
    padding: 0px 0 0 50px;
}

.first-step-figure {
    border: 1px solid var(--f-8);
    border-radius: 100px;
    background-color: var(--f-8);
    height: 200px;
    width: 200px;
    position: relative;
    left: 1170px;
    bottom: 170px;
}

.first-step-figure p {
    padding: 59px 15px;
    font-weight: 600;
    color: var(--f-4);
    text-align: center;
}

.first-step-figure p strong {
    font-size: 18pt;
}

.first-step-img {
    height: 150px;
    opacity: 10%;
    position: absolute;
    padding: 25px;
}

/* ---------------------------------- intro */

.baggrund-info {
    margin-top: -325px;
    position: absolute;
    left: 0px;
    z-index: -30;
    width: 100%;

}

.fig-section2 {
    border: 2px solid var(--f-8);
    border-radius: 100%;
    background-color: var(--f-8);
    display: block;
}

.fig-section2-1 {
    height: 500px;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 250px;

}

.lille-logo {
    height: 30px;
    display: block;
    margin: auto;
    padding-top: 60px;
}

.info-h2 {
    padding: 0 65px;
    font-size: 30pt;
    color: var(--f-4);
    margin-bottom: 0px;
    text-align: center;
}

.fig-section2-1 p {
    padding: 0px 60px;
    color: var(--f-4);
    font-size: 18pt;
    line-height: 1.2;
    margin-top: 0px;
    text-align: center;
}

.fig-section2-2 {

    height: 350px;
    width: 350px;
    margin-top: -700px;
}

.overskrift-str-s {
    padding: 0 65px;
    font-size: 20pt;
    color: var(--f-4);
    margin-bottom: 0px;
    text-align: center;
    line-height: 1;
}

.fig-section2-2 p {
    padding: 20px 40px;
    color: var(--f-4);
    font-size: 11pt;
    margin-top: 0px;
    text-align: center;
    margin-top: -170px;
}

.kontor-ikon {
    height: 250px;
    padding: 10px 40px;
}

.fig-section2-3 {
    height: 350px;
    width: 350px;
    position: relative;
    left: 1000px;
    bottom: 300px;
}

.fig-section2-3 p {
    padding: 50px 40px;
    color: var(--f-4);
    font-size: 11pt;
    margin-top: 0px;
    text-align: center;
}

.fig-section2-stor2 {
    margin: 0px;
    position: relative;
    left: 800px;
    top: 300px;

}

.fig-section2-stor2 p {
    padding-top: 50px;
}

.large {
    padding-top: 80px;
    padding-bottom: 30px;
}

.fig-section2-mellem {
    margin: 0px;
    position: relative;
    left: 50px;
    bottom: 80px;
    height: 400px;
    width: 400px;
}

.fig-section2-mellem p {
    font-size: 15pt;
}

/* --------------------- SECTION 3 VIDEO ---------*/

.control-icons {
    height: 50px;
}

.sec-3-h2 {
    line-height: 1;
    letter-spacing: -2px;
    font-size: 45pt;
    font-weight: 800;
    color: var(--f-4);
    position: relative;
    padding: 118px 0 0 50px;
    bottom: 50px;


}

.sec-3-p {
    color: var(--f-5);
    position: relative;
    bottom: 90px;
    padding: 0px 0 0 50px;
    font-size: 25pt;
    font-weight: 400;
    line-height: 1;
}

.light-sec3 {
    height: 500px;
    position: relative;
    display: block;
    z-index: -10;
    bottom: 530px;
    padding: 0 0 0 120px;
    margin: 70px 0;

}

video {
    position: relative;
    bottom: 950px;
    left: 850px;
    width: 600px;
    display: block;
    z-index: 20;

}

.ikoner {
    position: relative;
    bottom: 940px;
    left: 1346px;
}

/*--------------------------------- SECTION 4 ---*/

.section-4 {
    margin-top: -500px;
}

.pink-kasse-section4 {
    width: 35%;
    height: 750px;
    position: relative;
    background-color: var(--f-8);
    margin: 0px;
    margin-top: -40px;
    left: 10px;
    box-shadow: 2px 5px 10px 5px rgba(51, 14, 5, 0.33);

}

.sec4-h4 {
    font-size: 28pt;
    padding-left: 50px;
    color: var(--f-3);
    margin-top: 100px;

}

.workshop-p {
    padding: 0 50px;
    color: var(--f-4);
    margin-top: -50px;
}

.pic-kasse {
    margin: 40px 139px;
}

.fig-tekst-1 {
    margin-top: -40px;
    color: var(--f-3);
    text-align: center;

}

.s4-pic1-kasse {
    position: relative;
    height: 300px;
    width: 380px;
    bottom: 700px;
    left: 1000px;
}

.sec4-pic1 {
    display: block;
    margin: auto;

}

.s4-pic1-kasse p {
    text-align: center;
    color: var(--f-1);
}

.s4-pic2-kasse {
    position: relative;
    height: 400px;
    width: 400px;
    bottom: 850px;
    left: 600px;
}

.sec4-pic2 {
    display: block;
    margin: auto;
}

.s4-pic2-kasse p {
    text-align: center;
    color: var(--f-4);
}

.s4-pic3-kasse {
    position: relative;
    height: 350px;
    width: 400px;
    bottom: 1050px;
    left: 1100px;
}

.sec4-pic3 {
    display: block;
    margin: auto;
}

.s4-pic3-kasse p {
    text-align: center;
    color: var(--f-4);
}



/* ------------------------------ Section 5 ---------*/

.section-5 {
    margin-top: -510px
}

.tjek {
    position: relative;
    left: 250px;
    top: 200px;

}

.tjekliste-fig {
    background-color: var(--f-8);
    height: 650px;
    width: 650px;
    border-radius: 100%;
    position: relative;
    bottom: 340px;
    left: 800px;
}

.sec5-h5 {
    text-align: center;
    font-size: 20pt;
    color: var(--f-3);
    padding-top: 40px;
}

.sec5-h5 strong {
    font-size: 40pt;
}

ol {
    margin-left: 100px;
    margin-top: -20px;
}

li {
    font-size: 13pt;
    color: var(--f-4);
}

.stor-fod {
    height: 500px;
    opacity: 10%;
    position: absolute;
    padding: 75px;
}

.uddybelse-link {
    text-decoration: underline;
    position: absolute;
    margin: 55px 235px;

}

/*----------------------------- SECTION 6 ABOUT ---------------*/

.section-6 {
    margin-top: -535px;
}

.mere-kasse {
    width: 500px;
    padding: 200px 50px;
}

h6 {
    font-size: 15pt;
    color: var(--f-4);
    margin: 50px 0 0 0;
}

.mere-links {
    color: var(--f-3);
    text-decoration: underline;
}

.questions {
    color: var(--f-1);
    width: 400px;
    position: relative;
    bottom: 550px;
    left: 1000px;
    padding: 10px;

}

.questions a {
    color: var(--f-1);
    text-decoration: underline;

}

.q {
    color: var(--f-1);
    text-align: center;
}

.small-contanks {
    display: flex;
    justify-content: space-between;
}

.small-contanks p {
    color: var(--f-2);
}

/*--------------------------------FOOTER------------------*/

footer {
    background-color: var(--f-1);
    margin-top: -370px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

footer aside {
    padding: 20px 20px;
    width: 300px;
}

footer h6 {
    margin-top: 0px;
}

footer aside p {
    color: var(--f-4);
    margin: 0px;
}

.mid-foot {
    width: 700px;
    margin-top: 50px;
}

.lille-p-foot {
    font-size: 10pt;
    color: var(--f-3);
    margin-top: 10px;

}

.some {
    position: relative;
    bottom: 43px;
    left: 1170px;

}

.some-pic {
    height: 40px;
    padding: 0 5px;
}

/* ------------------------------- opdeler */


.boegle {
    position: relative;
    width: 100%;
    display: block;
    z-index: -20;
}


.boegle-1 {
    margin-top: -650px;
    /* Styre højden på section 2 */
    margin-bottom: -500px;



}

.boegle-2 {
    margin-top: -550px;


}

.boegle-3 {
    margin-top: -1350px;


}

.boegle-4 {
    margin-top: -1050px;

}

.boegle-5 {
    margin-top: -850px;

}

/* ---------------Knapper til scroll animation */

a {
    text-decoration: none;
    color: var(--f-5);
    font-size: 10pt;
    font-weight: 600;
}

button {

    z-index: 20;
    display: block;
    margin: auto;
}

.ned-knap-1 {
    position: relative;
    bottom: 90px;

}

.ned-icon {
    height: 30px;
    display: block;
    margin: auto;
}

.op-knap-1 {
    position: relative;
    top: 25px;


}

.op-icon {
    height: 30px;
    display: block;
    margin: auto;
}

.ned-knap-2 {
    position: relative;
    bottom: 40px;
}


.ned-knap-3 {
    position: relative;
    bottom: 850px;
}

.op-knap-3 {
    position: relative;
}

.ned-knap-4 {
    position: relative;
    bottom: 1080px;
}

.op-knap-4 {
    position: relative;
    top: 20px;
}

.ned-knap-5 {
    position: relative;
    bottom: 360px;
}

.op-knap-5 {
    position: relative;
    top: 40px;
}


@media only screen and (max-width: 1300px) {

    .boegle {
        width: 1900px;
    }

    .boegle-1 {
        margin-top: -500px;
    }

    .load-text-container {
        margin: 100px;
    }

}

@media only screen and (max-width: 800px) {

    .load-text-container {
        margin: 40px 20px;
    }

    .grow-logo {
        width: 100%;
        margin: auto;
    }

    .load-page-h1 {
        font-size: 8.5vw;

    }

    .load-p {
        font-size: 3vw;
        margin-top: -25px;
    }

    .boegle-1 {
        margin-top: -400px;
    }
}
